body { margin: 0; padding: 0; zoom: 1; }
h1, h2, p { margin: 0; padding: 0; }
p { -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }

.strike { text-decoration: line-through; }

.avatar img { width: 30px; height: 30px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.caption { margin: 0 0 60px 20px; }
.caption a { font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif; /*letter-spacing: .1em;*/ color: #999; text-transform: uppercase; text-decoration: none; }
.caption a:not(:first-child) { margin-left: 8px; }
.caption a:hover { background-color: #ddd; }

.container { width: 960px; margin: 0 auto; }

.opentype {
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.legibility {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ------------------------------------------- */
/* Styles for The Butcher and his Customers    */
/* ------------------------------------------- */

.section-butcher-customers { background: url(../images/butcher/butcher.jpg) no-repeat; background-size: cover; padding: 30px; }
.section-butcher-customers .container { border: 1px solid #ee1122; margin: 0 auto; padding: 0 0 120px 0; width: calc(100% - 40px); box-sizing:border-box; }
.section-butcher-customers .container article .masthead { padding: 25px 0 30px 0; max-width: 480px; margin: 0 auto 100px auto; background-color: #e12; text-align: center; }
.section-butcher-customers .container article .masthead h2 { font: 64px/1 'Chonburi', Georgia, serif; color: #fff; /* background-color: rgba(238, 17, 34, .8); */ letter-spacing: -.05em; }
.section-butcher-customers .container article .masthead h2 span { display: block; font: 400 20px/1.2 'BioRhyme', 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: .2em; margin-top: 6px; color: #000; text-transform: uppercase; }
.section-butcher-customers .container article .masthead img { width: 50%; }
.section-butcher-customers .container article section { display: block; text-align: center; margin: 0 auto; background-color: #fff; padding: 40px 40px 20px; }
.section-butcher-customers .container article section p { padding: 0; margin: 0; }
.section-butcher-customers .container article section p:first-child { columns: 3; column-gap: 30px; text-align: left; font: .825em/1.625 'Fjord One', Georgia, serif; word-wrap: break-word; text-align: justify; text-justify: inter-word; }
.section-butcher-customers .container article section p:last-of-type { columns: 1; font: 1.25em/1.25 'BioRhyme', Georgia, serif; margin-top: 6px; padding: 6px 0; color: #e21; text-align: center; display: inline-block; }
.section-butcher-customers .container article section .caption { margin: 30px auto 20px auto; }

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/*Mobile Devices 480px */


/* max-width 480px, mobile */
@media only screen and (max-width: 480px) {

	.section-grief-and-his-due .moral { font-size: 18px; line-height: 22px; margin: 0 5% 5% 5%; padding: 15px; }

  .section-pomegranate h2{font-size: 4.2rem;}
	.section-pomegranate h2 span{font-size: 1.75rem;}
	.section-pomegranate .container img#bramble{position: absolute; bottom: 0px; left: -90px;}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .section-pomegranate .container img#bramble{left: 0;}
}

/* max-width 640px, mobile */
@media only screen and (max-width: 40em) {
  .section-horse-groom{ padding:250px 50px 350px; }
  .section-horse-groom p{ width:100%; }
  .section-horse-groom blockquote{ width:100%;text-align:center;padding:40px 0 0; }
}

@media (max-width: 659px) {

.section-fir-tree .container { width: 100%; background-size: 80%; }
.section-fir-tree h2 { width: 100%; font-size: 52px; line-height: 36px; display: block; margin-top: 120px; margin-bottom: 120px; }
.section-fir-tree h2 span { font-size: 36px;}
.section-fir-tree .moral { width: 80%; padding: 0 20px; font-size: 1.2em; line-height: 1.5; text-align: left; display: block; margin: 0 auto 30px auto; }
.section-fir-tree .fable { width: 80%; padding: 0 20px; display: block; margin: 0 auto; }

.section-fox-lion .container { width: 90%; }

}

/* min-width 641px and max-width 1024px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .section-horse-groom { padding: 250px 100px 350px; }
}

/* Sub-tablet <768px */
@media (max-width: 768px) {

    .section-intro { width: 100%; }
    .section-intro .small { margin: 0 20px; }
    .section-intro p { max-width: 460px; width: auto; padding: 0 20px; }
    .section-intro .wrapper { width: 320px; text-align: center; margin: 0 auto 120px auto; }

    .section-two-bags .container { width: 100%;}
    .section-two-bags h2 { font-size: 64px; line-height: 52px; margin-bottom: 6px; opacity: 1;}
    .section-two-bags p { max-width: 380px; width: auto; margin-left: 0; padding: 0 20px; float: left; font: 14px/24px 'Monda', Arial, sans-serif; }
    .section-two-bags .caption { width: auto; margin-top: 6px; opacity: .7; }

    .section-oak .container { width: 100%; }
    .section-oak p { max-width: 460px; width: auto; padding: 0 20px; }

    .section-gnat-bull .container { width: 100%; }
    .section-gnat-bull h2 { font: 60px/60px 'Playfair Display', Georgia, serif; }
    .section-gnat-bull p { padding-right: 20px; }

    .section-astronomer .container { width: auto; }
    .section-astronomer h2 { font-size: 46px; }
    .section-astronomer p { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }

    .section-the-fox-and-the-grapes .container { width: 100%;  }
    .section-the-fox-and-the-grapes h2, .section-the-fox-and-the-grapes p { width: auto; max-width: 420px; padding: 0 20px; }

    .section-moon-mother .container { width: 100%; }
    .section-moon-mother .container .caption { width: 280px; margin-left: 40px; }
    .section-moon-mother h2, .section-moon-mother p { width: 320px; }
    .section-moon-mother h2 { font-size: 32px; text-align: center; }
    .section-moon-mother h2 span { display: block; }
    .section-moon-mother .black-ital { font-size: 120px; }
    .section-moon-mother .small-cap { font-size: 13px; line-height: 15px; margin: 0 auto 4px auto; }
    .section-moon-mother .reg { font-size: 42px; }
    .section-moon-mother .bold-ital    { font-size: 60px; }
    .section-moon-mother .bold { line-height: 24px; margin: 4px auto; }
    .section-moon-mother .black { font-size: 42px; line-height: 40px; }

    .section-prophet .col {float: none;}
    .section-prophet .container {background-color: rgba(0,0,0,0.75);padding-left:40px;padding-right:40px;padding-bottom:100px;}

    .section-wolves-sheep-ram .titleContainer {display: none;}
    .section-wolves-sheep-ram .titleFullContainer {display: block;}
    .section-wolves-sheep-ram .body {padding: 0 80px;}

    .section-north-wind-and-sun .container { width: auto; }
    .section-north-wind-and-sun h2 { font-size: 30px; line-height: 40px; width: 80%; }
    .section-north-wind-and-sun p { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
    .section-north-wind-and-sun p.last { font-size: 24px; line-height: 42px; }
    .section-north-wind-and-sun .avatar img { margin-left: 62px; }
    .section-north-wind-and-sun .caption { margin-left: 62px; }

    .section-the-old-hound h2 { font-size: 74px; line-height: 84px; }
    .section-the-old-hound .container { padding-left: 20px; padding-right: 20px;}

    .section-grief-and-his-due h2 { font-size: 60px; line-height: 60px; font-weight: 700; margin-top: 8%; }
    .section-grief-and-his-due p { font-size: 17px; letter-spacing: 1.5px; margin: 20px 10% 20px 10%; }
    .section-grief-and-his-due .moral { font: 25px/35px ;margin: 0 5% 5% 5%; padding: 15px; }

    .section-trees-and-the-axe p { width: 85%; }

  	.section-pomegranate {
  	background-image: url(../images/pomegranate/bkg.jpg);
  	background-repeat: no-repeat;
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	}

  	.section-pomegranate p{margin: auto; padding: 0 10px;}
  	.section-pomegranate p.bramble{position: relative; bottom: auto; left: auto; width: auto; margin-top: 30px;}

    .section-wolf-sheep-clothing .container { width: 100%; }
    .section-wolf-sheep-clothing .caption { margin: 0 0 60px 0; padding-left: 0; }
    .section-wolf-sheep-clothing h2 { font: 68px/60px 'Shrikhand', Georgia, serif; }
    .section-wolf-sheep-clothing h2 .sm-head { font: 34px/30px 'Sansita One', Georgia, serif; }
    .section-wolf-sheep-clothing p { font: 15px/24px 'Scope One', Helvetica, Arial, sans-serif; }

    .section-butcher-customers { background-image: url(../images/butcher/butcher-sm.jpg); }
    .section-butcher-customers .container { width: calc(100% - 20px); }
    .section-butcher-customers .container article .masthead { width: 100%; }
    .section-butcher-customers .container article .masthead h2 { font-size: 40px; }
    .section-butcher-customers .container article .masthead h2 span { font-size: 14px; }
    .section-butcher-customers .container article section p:first-child { columns: 1; }

}


/* Small devices (tablets, > 768px) */
@media (min-width: 769px) {

    .section-crow-pitcher { padding: calc(4 * 20px); }
    .section-crow-pitcher h2 { margin-bottom: calc(8 * 20px); margin-top: calc(4 * 20px); }
    .section-crow-pitcher .container p { font-size: 48px; }
    .section-crow-pitcher .container .drop-p { color: white; font-size: 18px; float: left; line-height: 1.4em; margin-bottom: 0; margin-right: calc(3 * 20px); margin-top: calc(1 * 20px); width: 33.3%; }
    .section-crow-pitcher em { font-size: 18px; margin-bottom: calc(8 * 20px); }
    .section-crow-pitcher hr { width: 2.5%;    }

	.section-pomegranate {
	background-image: url(../images/pomegranate/pomegranate-400.png), url(../images/pomegranate/apple-400.png), url(../images/pomegranate/bkg.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: -170px 0, 140% 100%, center center;
	-webkit-background-size: auto, auto, cover;
	-moz-background-size: auto, auto, cover;
	-o-background-size: auto, auto, cover;
	background-size: auto, auto, cover;
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .section-pomegranate .container img#bramble{left: 5%;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-crow-pitcher .container p { font-size: 104px; }
    .section-crow-pitcher .container .drop-p { font-size: 24px; line-height: 1.8em; margin-bottom: 0; margin-top: calc(1 * 20px); margin-right: calc(4 * 20px); }
    .section-crow-pitcher em { font-size: 24px; }

	.section-pomegranate {
	background-image: url(../images/pomegranate/pomegranate-400.png), url(../images/pomegranate/apple-400.png), url(../images/pomegranate/bkg.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: -90px 0, 115% 100%, center center;
	-webkit-background-size: auto, auto, cover;
	-moz-background-size: auto, auto, cover;
	-o-background-size: auto, auto, cover;
	background-size: auto, auto, cover;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .section-crow-pitcher {    padding: calc(6 * 20px);    }
    .section-crow-pitcher h2 { margin-bottom: calc(12 * 20px);    margin-top: calc(6 * 20px);    }
    .section-crow-pitcher .container p { font-size: 124px; margin-bottom: calc(12 * 20px);    }
    .section-crow-pitcher .container .drop-p { font-size: 36px; line-height: 1.8em;    }
    .section-crow-pitcher em { font-size: 36px; margin-bottom: calc(12 * 20px); }
}

/* Large devices (extra large desktops, 1440px and up) */
@media (min-width: 1440px) {
    .section-crow-pitcher .container p { font-size: 150px;    }
	.section-pomegranate {
	background-image: url(../images/pomegranate/pomegranate.png), url(../images/pomegranate/apple.png), url(../images/pomegranate/bkg.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: -200px 0, 125% 100%, center center;
	-webkit-background-size: auto, auto, cover;
	-moz-background-size: auto, auto, cover;
	-o-background-size: auto, auto, cover;
	background-size: auto, auto, cover;
	}
	.section-pomegranate .container img#bramble{left: 25%;}
}


/* min-width 1025px and max-width 1440px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .section-horse-groom { padding: 250px 250px 350px }
    .section-horse-groom p { width: 45% }
    .section-horse-groom blockquote { width: 40%; padding: 60px 0 0 0; }
}

/* max-width 1920px, xlarge screen */
@media only screen and (min-width: 120em) {
    .section-horse-groom { padding: 250px 650px 350px; }
    .section-horse-groom blockquote { padding: 50px 0 0 0; }
}


/* The Bee and Jupiter - medium devices - stacked comp
----------------------------------------*/
@media only screen and (max-width: 805px) {
  .section-bee-jupiter { padding-top: 85px; }
  .section-bee-jupiter .container { text-align: center; width: auto; }
  .section-bee-jupiter h2 { text-align: center; margin: 20px auto 20px auto; line-height: 85%; }
  .section-bee-jupiter p { margin: 0; padding: 30px 0; }
  .section-bee-jupiter hr { max-width: 400px; }

/* The Bee and Jupiter - small devices - stacked comp
----------------------------------------*/
@media only screen and (max-width: 440px) {
  .section-bee-jupiter h2 { font-size: 4em; width: 100%; }
  .section-bee-jupiter .beesvg { width: 100px; }
  .section-bee-jupiter p { font-size: 1em; width: 100%; }
  .section-bee-jupiter .avatar { margin-left: 0; }
  .section-bee-jupiter .beewithoutstinger { margin-bottom: 40px; }
  .section-bee-jupiter h3 { margin-bottom: 40px; }
}
